@import './common.module.scss';

@keyframes showInfo {
  0% {
    left: 18.332rem;
    top: 0;
  }
  40% {
    top: 0;
    left: -10rem;
  }
  100% {
    left: -100%;
    top: -100%;
  }
}

.container {
  height: calc(100% - 4rem);
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  p,
  span,
  a,
  h1,
  h2,
  h3 {
    color: $color-default-bright5;
  }

  h3 {
    position: relative;

    &::after {
      content: ':';
      position: absolute;
      right: 0;
      height: 100%;
      line-height: 0.8;
    }
  }

  a {
    text-decoration: underline;
    text-underline-position: under;
  }

  @media screen and (max-width: 479px) {
    align-items: flex-end;
  }
}

.profile_info {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
  z-index: 10;
  flex-wrap: wrap;

  @media screen and (max-width: 479px) {
    margin-bottom: 8rem;
  }
}

.info_list {
  width: 100%;
  right: 0;

  li {
    display: flex;
    align-items: center;
    margin: 0.555rem 0;

    h3,
    h2 {
      width: 6rem;
      margin-right: 0.5rem;
    }

    @media screen and (min-width: 431px) and (max-width: 679px) {
      margin: 0.3rem 0;
    }

    @media screen and (max-width: 430px) {
      margin: 0;
    }
  }
}

.info_description {
  position: relative;
  z-index: 5;
  height: 9.166rem;
  width: 30rem;

  p {
    line-height: 1.2;
  }

  @media screen and (max-width: 479px) {
    display: none !important;
  }
}
