@import './common.module.scss';

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showInfo {
  0% {
    left: 18.332rem;
    top: 0;
  }
  40% {
    top: 0;
    left: -10rem;
  }
  100% {
    left: -100%;
    top: -100%;
  }
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  p,
  span,
  a,
  h1,
  h2,
  h3 {
    color: $color-default-bright5;
  }

  & > div > h1 {
    display: block;
    animation: show 0s 6.5s both;
    position: relative;
    z-index: 15;
  }
}

.profile_info {
  display: flex;
  align-items: flex-end;
  height: 16.666rem;
  width: 100%;
  margin-bottom: 2.222rem;
  position: relative;
  z-index: 10;

  & > i {
    width: calc(100% - 18.332rem);
    height: 100%;
    position: absolute;
    top: 0;
    left: 18.332rem;
    background-color: red;
    z-index: 10;
    animation: showInfo 1.2s 4s both;
  }
}

.profile {
  width: 16.666rem;
  height: 16.666rem;
  display: block;
  margin-right: 1.666rem;
  transform: translate(570%, -220%) rotateZ(240deg);
  position: relative;
  z-index: 15;

  figure {
    width: 100%;
    height: 100%;
    box-shadow: 0.388rem 0.388rem 0.722rem -0.166rem #1f1f1f,
      inset -0.333rem -0.333rem 0.5rem -0.166rem #0000007d;
    border-radius: 0.555555555555556rem;
  }
}

.info_list {
  width: calc(100% - 18.332rem);
  position: absolute;
  right: 0;

  li {
    display: flex;
    align-items: center;
    margin: 0.555rem 0;

    h3 {
      width: 6rem;
    }
  }
}

.info_description {
  position: relative;
  z-index: 5;
  height: 9.166rem;
  transform: translate(0, -110%);
}
