@import './common.module.scss';

@keyframes easeInBounce {
  0% {
    transform: translateX(0%);
  }

  4% {
    transform: translateX(-1.54%);
  }

  8% {
    transform: translateX(-0.66%);
  }

  18% {
    transform: translateX(-6.25%);
  }

  26% {
    transform: translateX(-1.63%);
  }

  46% {
    transform: translateX(-24.98%);
  }

  64% {
    transform: translateX(-1.99%);
  }

  76% {
    transform: translateX(-56.44%);
  }

  88% {
    transform: translateX(-89.11%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.container {
  width: 100%;
  height: 40px;
  position: relative;
}

.primary {
  width: 100%;
  height: 40px;
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 0;
  font-size: 1rem;
  background-color: $color-default-bright1;
  box-shadow: 5px 4px 6px -3px #706fa0, inset -4px -4px 6px -3px #5e5c87;
  color: #ffffff;
  position: absolute;
  transition: 0.2s transform ease-out;
  will-change: transform;
  overflow: hidden;

  &::after {
    background-color: $color-default-dark3;
    content: '👉';
    box-shadow: inset -4px -4px 6px -3px #151529;
    text-align: right;
    line-height: 40px;
    padding-right: 15px;
    display: block;
    height: 100%;
    width: calc(100% - 15px);
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0);
    will-change: transform;
    z-index: -1;
    border-radius: 10px;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 5px 4px 6px -3px #141424;
    border: 0;

    &::after {
      animation: 0.5s reverse both running easeInBounce;
    }
  }
}

.danger {
  width: 100%;
  height: 40px;
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 2px solid $color-default-dark4;
  font-size: 1rem;
  background-color: $color-default-bright3;
  color: $color-default-dark4;
  &:hover {
    background-color: $color-default-dark3;
    color: #ffffff;
  }
}
