@import './common.module.scss';

@keyframes easeInBounce {
  0% {
    transform: translateX(0%);
  }

  4% {
    transform: translateX(-1.54%);
  }

  8% {
    transform: translateX(-0.66%);
  }

  18% {
    transform: translateX(-6.25%);
  }

  26% {
    transform: translateX(-1.63%);
  }

  46% {
    transform: translateX(-24.98%);
  }

  64% {
    transform: translateX(-1.99%);
  }

  76% {
    transform: translateX(-56.44%);
  }

  88% {
    transform: translateX(-89.11%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.container {
  width: 100%;
  height: 2.222rem;
  position: relative;
}

.primary {
  width: 100%;
  height: 2.222rem;
  backdrop-filter: blur(0.5277rem);
  -webkit-backdrop-filter: blur(0.5277rem);
  border-radius: 0.555rem;
  border: 0;
  font-size: 1rem;
  background-color: $color-default-bright1;
  box-shadow: 0.277rem 0.222rem 0.333rem -0.166rem #706fa0,
    inset -0.222rem -0.222rem 0.333rem -0.166rem #5e5c87;
  color: #ffffff;
  position: absolute;
  transition: 0.2s transform ease-out;
  will-change: transform;
  overflow: hidden;

  &::after {
    background-color: $color-default-dark3;
    content: '👉';
    box-shadow: inset -0.222rem -0.222rem 0.333rem -0.166rem #151529;
    text-align: right;
    line-height: 2.222rem;
    padding-right: 0.8333rem;
    display: block;
    height: 100%;
    width: calc(100% - 0.833rem);
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0);
    will-change: transform;
    z-index: -1;
    border-radius: 0.555rem;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0.277rem 0.222rem 0.333rem -0.166rem #706fa0,
      inset -0.222rem -0.222rem 0.333rem -0.166rem #5e5c87;
    border: 0;

    &::after {
      animation: 0.5s reverse both running easeInBounce;
    }
  }
}

.danger {
  width: 100%;
  height: 2.222rem;
  backdrop-filter: blur(0.527rem);
  -webkit-backdrop-filter: blur(0.527rem);
  border-radius: 0.555rem;
  border: 2px solid $color-default-dark4;
  font-size: 1rem;
  background-color: $color-default-bright3;
  color: $color-default-dark4;
  &:hover {
    background-color: $color-default-dark3;
    color: #ffffff;
  }
}
