@import './common.module.scss';

.container {
  position: fixed;
  top: 0;
  right: 0;
  width: 10rem;
  text-align: right;
  margin: 0.5rem 1.5rem;
  z-index: 10000;

  h1,
  h2 {
    color: #ffffff;
  }

  h1 {
    font-size: 4rem;

    @media screen and(max-width: 419px) {
      font-size: 3rem;
    }
  }

  h2 {
    font-size: 2rem;

    @media screen and(max-width: 419px) {
      font-size: 1.5rem;
    }
  }
}

.epg_container {
  height: 10rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;

  .channel_number {
    width: 10rem;

    & > h1 {
      color: $color-default-bright5;
      font-size: 3rem;
      font-weight: bold;

      @media screen and (min-width: 420px) and (max-width: 679px) {
        font-size: 2.5rem;
      }
      @media screen and (max-width: 419px) {
        font-size: 2rem;
      }
    }

    @media screen and (min-width: 420px) and (max-width: 679px) {
      width: 7rem;
    }

    @media screen and (max-width: 419px) {
      width: 5rem;
    }
  }

  .epg_progress {
    width: calc(100% - 40rem);
    display: flex;
    flex-direction: column;
    align-items: center;

    .ch_info {
      width: 100%;
      height: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.3rem;
      color: $color-default-bright5;
      font-size: 1rem;

      p {
        color: $color-default-bright5;
      }
    }

    .progress_info {
      width: 100%;
      display: flex;
      flex-direction: column;

      & .broadcast_name {
        height: 1.4rem;
        width: 100%;
        margin: 0.3rem 0 0.5rem;

        p {
          font-size: 1.4rem;
          color: $color-default-bright5;

          @media screen and (max-width: 419px) {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 1.1rem;
          }
        }
        @media screen and (max-width: 419px) {
          height: 1.1rem;
        }
      }

      & .progress_bar {
        width: 100%;
        height: 0.5rem;
        background-color: #4e4e4e;
        border-radius: 0.25rem;
        font-size: 0;
        overflow: hidden;
      }

      & .broadcast_time {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.5rem;

        p {
          color: $color-default-bright5;
        }
      }
    }

    @media screen and (min-width: 680px) and (max-width: 960px) {
      width: calc(100% - 30rem);
    }

    @media screen and (min-width: 420px) and (max-width: 679px) {
      min-width: 45%;
    }

    @media screen and (max-width: 419px) {
      min-width: 35%;
    }
  }

  @media screen and (min-width: 680px) and (max-width: 960px) {
    padding-left: 3rem;
    justify-content: flex-start;
  }

  @media screen and (max-width: 679px) {
    padding-left: 2rem;
    justify-content: flex-start;
  }
}

.channel_wartermark {
  position: fixed;
  z-index: 10000;
  top: 1rem;
  right: 1rem;
  min-width: 5rem;
  max-width: 7rem;
  height: 1.7rem;
  text-align: right;

  h1 {
    font-size: 1.7rem;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;

    @media screen and(max-width: 419px) {
      font-size: 1.3rem;
    }
  }
}
