$color-default-normal: #6667ab; //2022 팬톤 컬러 '베리 페리'
$color-default-dark1: #55558c;
$color-default-dark2: #45446f;
$color-default-dark3: #353452;
$color-default-dark4: #252538;
$color-default-dark5: #17161f;
$color-default-bright1: #807eb9;
$color-default-bright2: #9a97c7;
$color-default-bright3: #b3b0d5;
$color-default-bright4: #cccae3;
$color-default-bright5: #e5e4f1;
