$color-default-normal: #6667ab; //2022 팬톤 컬러 '베리 페리'
$color-default-dark1: #55558c;
$color-default-dark2: #45446f;
$color-default-dark3: #353452;
$color-default-dark4: #252538;
$color-default-dark5: #17161f;
$color-default-bright1: #807eb9;
$color-default-bright2: #9a97c7;
$color-default-bright3: #b3b0d5;
$color-default-bright4: #cccae3;
$color-default-bright5: #e5e4f1;

$color-shadow-inset: #999999;
$color-shadow-outset: #333333;

.color-white {
  color: #ffffff;
}
.color-default {
  color: #6667ab;
}
.color-dark1 {
  color: #55558c;
}
.color-dark2 {
  color: #45446f;
}
.color-dark3 {
  color: #353452;
}
.color-dark4 {
  color: #252538;
}
.color-dark5 {
  color: #17161f;
}
.color-bright1 {
  color: #807eb9;
}
.color-bright2 {
  color: #9a97c7;
}
.color-bright3 {
  color: #b3b0d5;
}
.color-bright4 {
  color: #cccae3;
}
.color-bright5 {
  color: #e5e4f1;
}
