@import './common.module.scss';

@keyframes open {
  0% {
    height: 50vh;
  }
  100% {
    height: 70px;
  }
}

.section {
  width: 100%;
  height: 100%;

  & > section {
    width: 100%;
    height: 100vh;
    padding: 20px 20px 20px 210px;
    background-color: $color-default-dark3;
  }

  &::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50vh;
    background-color: #000000;
    z-index: 200;
    animation: open 3s 2s ease both running;
  }

  &::after {
    content: '';
    display: block;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50vh;
    background-color: #000000;
    z-index: 200;
    animation: open 3s 2s ease both running;
  }
}

.openning {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
  color: #ffffff;
  font-size: 200px;
  font-weight: bold;
  animation: showTitle 0s 1s both running;
  align-items: center;
  justify-content: center;
  z-index: 210;
}
