@import './common.module.scss';

@keyframes open {
  0% {
    height: 50vh;
  }
  100% {
    height: 3.888rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.section_about {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  animation: fadeIn 5s 1.5s ease both running;

  & > section {
    width: calc(100% - 12.777rem);
    height: calc(100% - 7.776rem);
    margin-top: 3.888rem;
    padding: 1.111rem 1.111rem 1.111rem 11.666rem;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('../public/backoground.jpg') center/cover no-repeat;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 50vh;
    background-color: #000000;
    z-index: 200;
    animation: open 2s 2s ease both running;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 50vh;
    background-color: #000000;
    z-index: 200;
    animation: open 2s 2s ease both running;
  }
}

.section_project {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: $color-default-dark4;
}

.openning {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
  color: $color-default-bright5;
  font-size: 11.111rem;
  font-weight: bold;
  animation: showTitle 0s 1s both running;
  align-items: center;
  justify-content: center;
  z-index: 210;
}

.section_contact {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;

  h1,
  h2,
  h3,
  p,
  span,
  a {
    color: $color-default-bright5;
  }
}
