@import './common.module.scss';

.container {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/culture_4.png') center/cover no-repeat;
}

.container_background {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
    z-index: 10;
  }
}

.thumbnail_container {
  width: 80%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 3rem;
  z-index: 100;
  left: 10%;

  .thumbnail_image {
    width: 15rem;
    height: 20rem;
    opacity: 0.8;
    will-change: transform;
    transition: transform 0.2s;

    figure {
      position: relative;
    }

    @media screen and (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 1;
        transform: scale(1.05);
      }
    }
  }
}

.detail_container {
  width: 80%;
  height: 28rem;
  position: absolute;
  left: 50%;
  top: 6rem;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  align-items: center;
}

.slide_container {
  width: 35rem;
  height: 100%;

  & > div {
    .slide_image {
      height: 28rem;

      figure {
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
  }
}
