@import './common.module.scss';

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.skills_rate {
  width: 20rem;
  height: 60%;
  background-color: $color-default-bright5;
  border-radius: 0.555555555555556rem;
  padding: 1.111111111111111rem;

  h1 {
    font-size: 2rem;
  }
}

.skills_container {
  & > div {
    margin-bottom: 1.666666666666667rem;
  }

  h2 {
    color: $color-default-bright5;
    font-size: 1.5rem;
  }
}

.skills_box {
  height: 10rem;
}

.skills_list {
  display: flex;
  align-items: center;
  border-top: 1px solid $color-default-bright5;
  padding-top: 0.555555555555556rem;

  figure {
    cursor: pointer;
  }
}
